/* Font Settings */
@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

/* Global Settings */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 8px;
}

body {
    line-height: 1.7em;
    color: #7f8c8d;
    font-size: 16px;
}

html, body, body section {
    font-family: 'Noto Sans Japanese', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

/* Layout */
.center {
    text-align: center;
}

.right {
    float: right;
}


h2 {
    color: #081388;
    font-family: 'Noto Sans Japanese' !important;
}

h3 {
    color: #1FB7F7;
    font-family: 'Noto Sans Japanese' !important;
}
.www::before {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    line-height: 0.75em;
    vertical-align: -15%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'FontAwesome' !important;
    content: "\f0ac";
}

/* Header */
header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1.00, #fd6cff), color-stop(0.00, #510054));
background: -webkit-linear-gradient(#510054, #fd6cff);
background: -moz-linear-gradient(#510054, #fd6cff);
background: -o-linear-gradient(#510054, #fd6cff);
background: -ms-linear-gradient(#510054, #fd6cff);
background: linear-gradient(#510054, #fd6cff);

    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    position: fixed !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div {
    width: 80%;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
header > div > img {
    width:100%;
    max-width: 750px;
}
header h1 {
    font-family: 'Archivo Black', sans-serif;
    color: white;
    padding: 1em 0;
    line-height: 1em;
}

 /* Content */
main {
    background: url(/assets/images/bg.png) repeat left top white;
    position: absolute;
    top: 80%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
}

section .container {
    padding: 50px 30px;
}

section:nth-child(2n) {
    color: #345;
    background: rgba(0, 0, 0, 0.1);
}

section p {
    text-indent: 1em;
}

/* Address */
address {
    text-decoration: none;
    font-style: normal;
}

address dl * {
    display: inline-block;
}

address dt {
    text-align: right;
}

/* Footer */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: rgba(0,0,0,0.7);
	font-size: 0.5em;
}
