a {
	color: #1fb7f7;
	text-decoration: none
}

button,
hr,
input {
	overflow: visible
}

progress,
sub,
sup {
	vertical-align: baseline
}

[type=checkbox],
[type=radio],
legend {
	box-sizing: border-box;
	padding: 0
}

header,
svg:not(:root) {
	overflow: hidden
}

header>div,
main {
	margin: auto;
	text-align: center
}

.www::before,
address dl *,
audio,
canvas,
progress,
video {
	display: inline-block
}

.center,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header>div,
main {
	text-align: center
}

html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
	display: block
}

h1 {
	font-size: 2.5em;
	margin: .67em 0
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

b,
strong {
	font-weight: bolder
}

dfn {
	font-style: italic
}

mark {
	background-color: #ff0;
	color: #000
}

small {
	font-size: 100%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

audio:not([controls]) {
	display: none;
	height: 0
}

img {
	border-style: none
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0
}

button,
select {
	text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
	-webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
	border-style: none;
	padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
	outline: ButtonText dotted 1px
}

fieldset {
	padding: .35em .75em .625em
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	white-space: normal
}

textarea {
	overflow: auto
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

[hidden],
template {
	display: none
}

@font-face {
	font-family: "Yu Gothic M";
	src: local("Yu Gothic Medium")
}

@font-face {
	font-family: "Yu Gothic M";
	src: local("Yu Gothic Bold");
	font-weight: 700
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html {
	font-size: 8px
}

body {
	margin: 0;
	line-height: 1.7em;
	color: #7f8c8d;
	font-size: 16px
}

body,
body section,
html {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
}

.right {
	float: right
}

h2 {
	color: #081388
}

h3 {
	color: #1fb7f7
}

.www::before {
	font: normal normal normal 18px/1 FontAwesome;
	line-height: .75em;
	vertical-align: -15%;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: FontAwesome!important;
	content: "\f0ac"
}

header {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #fd6cff), color-stop(0, #510054));
	background: -webkit-linear-gradient(#510054, #fd6cff);
	background: -moz-linear-gradient(#510054, #fd6cff);
	background: -o-linear-gradient(#510054, #fd6cff);
	background: -ms-linear-gradient(#510054, #fd6cff);
	background: linear-gradient(#510054, #fd6cff);
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed!important;
	display: flex;
	justify-content: center;
	align-items: center
}

header>div {
	width: 100%;
	text-transform: uppercase
}

header>div>img {
	width: 100%;
	max-width: 750px
}

header h1 {
	color: #fff;
	padding: 1em 0;
	line-height: 1em
}

main {
	transform: translateZ(0);
	background: url(https://res.cloudinary.com/meteors/image/upload/f_auto/ranko-love/bg.png) left top #fff;
	position: absolute;
	top: 100%;
	width: 100%;
	min-height: 12%;
	z-index: 2
}

main>section>div>img {
	width: 100%;
	max-width: 450px
}

section .container {
	padding: 50px 30px
}

section:nth-child(2n) {
	color: #345;
	background: rgba(0, 0, 0, .1)
}

section img {
	width: 100%;
	max-width: 500px;
}

address {
	text-decoration: none;
	font-style: normal
}

address dt {
	text-align: right
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background: rgba(0, 0, 0, .7);
	font-size: .5em
}

.btn-square-little-rich {
	position: relative;
	display: inline-block;
	padding: .25em .5em;
	text-decoration: none;
	color: #fff;
	background: #03a9f4;
	border: solid 1px #0f9ada;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    margin: 30px 0;
}

.btn-square-little-rich:active {
	border: solid 1px #03a9f4;
	box-shadow: none;
	text-shadow: none
}

.btn-social-isometric { 
  color: #fff;
  display: inline-block;
  height: 52px;
  font-size: 20px;
  line-height: 46px;
  	border: solid 1px #d27d00;
	border-radius: 4px;
  background: #fd9535;
  text-decoration: none;
  box-sizing: border-box; 
  margin: 1em;
}
.btn-social-isometric-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  vertical-align: middle;
  background-image: url("../images/game.png");
  background-position: center center;
  background-size: cover;
}

.btn-social-isometric-text {
  display: inline-block;
  width: 180px;
  height: 50px;
  text-align: center;
  vertical-align:middle;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
}
